/* headings */
h1{
    text-align: center;
    font-size: 40px;
}

.jumbotron{
    background-color: #0000cc;
    color: white;
}
h2{
    padding-left: 10px;
    background-color: #0000cc;
    color: white;
}

body{
    background-image: url(../images/dust_scratches.png);
}

#train-form{
    size: 100%;
}


/* ----------- add train form ----------- */
input, label {
    display:block;
}

#submit-btn{
    background-color: #0000cc;
    color: white;
    font-size: 20px;
}

/* --------- add train form end --------- */